{% extends 'base.html.twig' %}
{% block titulo %}Inicio{% endblock %}
{% block body %}

<div class="container">
<h1 class="form-heading">Login</h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>FRUTERÍA</h2>
   <p>Inicio de sesión</p>
   </div>
    <form id="Login">

        <div class="form-group">


            <input type="email" class="form-control" id="inputEmail" placeholder="Nombre de usuario">

        </div>

        <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Contrasenya">
<br><br>
        </div>
        <div class="forgot">

</div>
        <button type="submit" class="btn btn-primary">Entrar</button>
        <button type="submit" class="btn btn-secondary">Registrarse</button>
        <a>Entrar sin registrarse...  </a>
    </form>
    </div>

</div></div></div>
{% endblock %}
